<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="superSocket" type="USVServer, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <add key="ServiceName" value="SupperSocketService"/>
    </appSettings>
    <superSocket>
        <servers>
            <server name="USVServer" serverTypeName="YourService" ip="Any" port="2012" maxConnectionNumber="100">
            </server>
        </servers>
        <serverTypes>
            <add name="YourService" type="YourServiceServerType, YourServiceAssembly"/>
        </serverTypes>
    </superSocket>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<runtime>
        <gcServer enabled="true" />
    </runtime>
</configuration>
